@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Rubik+Mono+One&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   scroll-behavior: smooth;
   background-color: rgb(26, 24, 23);
   font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 400;

}







/* header section */

#header{
   position: fixed;
   z-index: 1000;
   left: 0;
   top: 0;
   width: 100vw;
   height: auto;

}

#header .header{
   min-height: 8vh;
   background-color:rgba(31,30, 30, 0.24);
   transition: .3s ease background-color;
}
#header .new-bar{
   display: flex;
   align-items: center;
   justify-content:space-between;
   width: 100%;
   height: 100%;
   max-width: 1300px;
   padding: 0 10px;

}
#header .new-bar .brand a{
   color: white;
   text-decoration: none;
   font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style:normal;
  text-transform: uppercase;


}
#header .nav-list ul{
   list-style: none;
   position: absolute; 
   background-color: rgb(31,30,30);
   width: 100vw;
   height: 100vh;
   left: 100%;
   top: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 1;
   overflow: hidden;
   transition: .3s ease left;

}
#header .nav-list ul.active{
   left: 0;
}
#header .nav-list ul li a{
   font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style:normal;
   letter-spacing: .2rem;
   text-decoration: none;
   color: white;
   text-transform: uppercase;
   padding: 20px;
   display: block;

}
#header .nav-list ul li a i{
   padding-right: 10px;
}

#header .nav-list ul a::after{
   content: attr(data-after);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%) scale(0);
   color: rgba(240, 248, 255,0.021);
   font-size: 13rem;
   letter-spacing: 50px;
   z-index: -1;
   transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
   transform: translate(-50%,-50%) scale(1);
   letter-spacing: initial;
   
}


#header .hamburger{
   height: 60px;
   width: 60px;
   display: inline-block;
   border: 3px solid white;
   border-radius: 50%;
   position: relative;
   right: 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   z-index: 100;
   transform: scale(.6);
   margin-right: 20px;
   
}
#header .hamburger::after{
   position: absolute;
   content: '';
   height: 100%;
   width: 100%;
   border-radius: 50%;
   border: 3px solid white;
   animation:hamburger-plus  2s ease infinite ;
}

@keyframes hamburger-plus {
   50%{
      opacity: 1;
      transform: scale(1);

   }
   100%{
      opacity: 0;
      transform: scale(1.3);

   }
}
#header .hamburger .bar{
   height: 2px;
   width: 30px;
   position: relative;
   background-color: white;
   z-index: 3;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
   content: '';
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   background-color: rgb(211, 26, 26);
   transition: .3s ease;
   transition-property: top, bottom;

}
#header .hamburger .bar::after{
   top: 8px;
}
#header .hamburger .bar::before{
   bottom: 8px;
}
#header .hamburger.active .bar::before{
   bottom: 0;
} 
#header .hamburger.active .bar::after{
   top: 0;
}

@media screen and (min-width: 1028px) {
   
   #header .nav-list ul{
      list-style: none;
      position: absolute; 
      background-color: transparent;
      width: 80%;
      height: 60px;
      left: 20%;
      top: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      z-index: 1;
      overflow: hidden;
      font-size: .8rem;
   }
   #header .nav-list ul.active{
      left: 20%;
   }
   #header .nav-list ul li a{
      color:rgba(255, 255, 255, 0.911);
   }
   #header .nav-list ul li a:hover{
      color: rgb(3, 112, 3);
      /* letter-spacing: 4px; */
      font-size: 1rem;
   }
   .header .new-bar .nav-list .hamburger{
      visibility: hidden;
   }
   #header .nav-list ul a::after{
      content: "";
   }

   
}




/* header section end */


/* ***************** */

/* hero section  */

#hero{
width: 100%;
height: 100vh;
position: relative;
overflow: hidden;
z-index: 1;
background-image: url("./main_jeyamurugan.jpg");
background-size: cover;
background-repeat: no-repeat;


}
#hero::after{
   content:'';
   position: absolute;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   background-color: rgb(0, 0, 0);
   opacity: .7;
   z-index: 2;
}

#hero .container{
   width: 100%;
   height: 500px;
   position: absolute;
   bottom: 0;
   background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0),rgb(26, 24, 23));
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: white;
   font-size: 2rem;
   z-index: 3;
   
}

#hero .container h1:nth-child(1) span{
   display: inline-block;
   width: 25px;
   height: 4px;
   background-color: rgb(255, 255, 255);
   position: relative;
   bottom: 14px;
   right: 10px;
}
#hero .container h1:nth-child(3){
   font-size: 1.8rem;

}
#hero .container h1:nth-child(3)::first-letter{
   color: coral;
   font-size: 2rem;
}

#hero .container p:nth-child(4){
   font-size: .8rem;
   text-align:justify;
   margin-top: 20px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  line-height: 2.5cap;
  padding: 10px;
  
  

}



#hero .container .about{
   padding: 5px 15px;
   border: 2px solid wheat;
   font-size: 1rem;
   position: relative;
   left: -90px;
   top: 60px;
   transition: .2s ease;
   border-radius: 80px;
   background-color: chocolate;
   text-transform: uppercase;
}
#hero .container .about:hover{
   background-color: rgb(255, 91, 32);

}
#hero .container .resume{
   padding: 5px 15px;
   border: 2px solid wheat;
   font-size: 1rem;
   position: relative;
   left: 90px;
   top: 28px;
   transition: .2s ease;
   border-radius: 80px;
   background-color: chocolate;
   text-transform: uppercase;
   cursor: pointer;
   
}
#hero .container .resume a{
   text-decoration: none;
   color: white;
}
#hero .container .resume:hover{
   background-color: rgb(255, 91, 32);

}



/* ........Lab Screen....... ..*/

@media screen and (min-width: 1028px) {

   #hero {
      background-size:cover;
      background-position-y: 40%; 
      
   }
  
  

   #hero .container{
      position: absolute;
      left: 50%;
      top: 0;
      background: none;
      width: 50%;
      height: 100vh;
      
   }
   #hero::after{
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      background: none;
      opacity: 2;
      z-index: 2;
      background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0),rgb(26, 24, 23));
   }
   #hero .container p:nth-child(4){
      width: 80%;
   }
   
      
   
   
   
}


/* hero section  end */


/* ***************** */

/* About sectio  */

#About{

width: 100%;
height:auto;
position: relative;
overflow: hidden;
z-index: 1;
color: white;

/* margin: 40px; */
/* border: 2px solid white; */

}
#About .content{
  
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   text-transform: capitalize;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 70px;
   padding: 10px;
   text-align: center;
}

#About .content p{

   text-align:justify;
   line-height: 40px;
   
}
#About .content h1 {

   text-transform:uppercase;
}




/* About sectio end */

/* ***************** */

/* 
*project section
*/


#project{
width: 100%;
/* height: vh; */
position: relative;
overflow: hidden;
z-index: 1;
background-color: rgb(255, 255, 255);
margin-top: 20px;
margin-bottom: 20px;
padding-bottom: 100px;

}

#project .pcon{
   width: 100%;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content:space-around;

}
#project .project{
   
   height: 230px;
   width: 400px;
   margin: 10px;
   background-color: rgb(82, 82, 80);
   
   position:relative;
   top: 60px;
   text-align: center;
   box-shadow: 10px 7px 15px black;
   border-radius: 10px;
   border: 3px solid coral;

}
#project .pro3{
   background-image: url(./fl.png);
   background-size: contain
}

#project .project p{
   color: white;
   visibility: hidden;
 
}

#project .project button{
   padding: 10px 30px 10px 30px;
   margin: 20px;
   transition: .2s ease background-color;
   border-radius: 20px;
   border: none;
}

#project .project button:hover ,button:active{
   background-color: coral;
   box-shadow: none;
   border: none;
}
#project .project h1{
   color: coral;
   margin: 20px;
   background-color: rgba(132, 130, 133, 0.267);
   
}
#project >h1{
   /* position: absolute; */
   text-align: center;
   color:rgb(0, 0, 0);
   font-size: 2rem;
   text-transform: uppercase;
   position: relative;
   top: 60px;
   /* background-color: rgba(153, 0, 255, 0.253); */
}

/* prosect section end */

#eduction {
   width: 100%;
   height: auto;
   overflow: hidden;
   position: relative;
   z-index: 1;
   margin-top: 20px;
   padding-bottom: 100px;
   /* background-color: rgb(103, 100, 121); */
   

}
#eduction> h1{
   text-align: center;
   color: green;
   font-size: 2rem;
   position: relative;
   top: 70px;
}
#eduction .educon{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   margin-top: 40px;
   margin-bottom: 40px;
   

}
#eduction .educon .edu{

   
   height: 400px;
   width: 300px;
   margin: 10px;
   background-color: rgb(82, 82, 80);
   position:relative;
   top: 60px;
   text-align: center;
   box-shadow: 10px 7px 15px black;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:center;
   border: 2px solid rgb(252, 205, 53);

}
#eduction .educon .edu h1{
   color: rgb(252, 205, 53);
   padding-bottom: 30px;
}
#eduction .educon .edu p,h4{
   color: white;
   font-weight: bolder;
}
#eduction .educon .edu .persntage{
   border-radius: 100%;
   border: 5px solid rgb(252, 205, 53) ;
   position: absolute;
   bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: rgba(17, 0, 255, 0.527) ; */
   /* box-shadow: inset 4px 10px 10px 4px  blue; */
   /* box-shadow: 10px 10px 10px black; */
}
#eduction .educon .edu .persntage h3{
   /* padding: 20px; */
   width: 70px;
   height: 70px;
   position: relative;
   top: 20px;
   left: 4px;
   color: white;
   /* text-align: center; */

}


/* Eduction section end  */


/* 
*
*Skils Section
*
*/

#skills{

   width: 100%;
   height: auto;
   overflow: hidden;
   position: relative;
   margin-top: 30px;
   color: white;
   background-color: white;
   padding-bottom: 40px;

}
#skills >h1{
   font-size: 2rem;
   color: green;
   text-align: center;
   position: relative;
   top: 70px;

}
#skills  .container{
   /* background-color: black; */
   width: 100%;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content:space-around;
   /* align-items: center; */
   margin-bottom: 20px;
   color: black;
   margin-top: 20px;
   padding: 30px;

}
#skills  .container .sk{
   height:auto;
   width: 400px;
   margin: 10px;
   /* background-color: rgb(82, 82, 80); */
   position:relative;
   top: 60px;
   text-align: center;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
}
#skills  .container .sk  h4{
   color: coral;
   font-size: 1rem;
}
#skills  .container .sk p{
   /* display:-webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-align:start; */
   text-align:start ;
}
#skills  .container .sk i{
   color: rgb(51, 255, 0); 
   font-size: 3rem;
   
}
#skills  .container .load {

   display: flex;
   align-items: center;  
   justify-content: center; 
  
   
}
#skills  .container .load  i{
   font-size: 6rem;
}




/* 
*contect

 */



#detiles{
   width: 100%;
   height: auto;
   background-color: rgb(82, 82, 80);
   position: relative;
   /* margin-top: 20px; */
   padding-bottom: 20px;
 }

#detiles .contect{
   text-align: center;

}

#detiles .contect h6{
   font-size: 2rem;
   color: coral ;
}
#detiles .contect p{
   font-size: .5rem;
   color: white;
}
#detiles .contect a{
   color: white;
   padding: 10px;
}
#detiles .contect a i:hover{
   color: coral;
}
